<table class="table table-hover" id="country_table">
    <thead>
        <tr>
            <th scope="col">{{ 'label.countryName'|trans }}</th>
            <th scope="col">{{ 'label.countryNameInt'|trans }}</th>
            <th scope="col">{{ 'label.a2'|trans }}</th>
            <th scope="col">{{ 'label.a3'|trans }}</th>
            <th scope="col">{{ 'label.n3'|trans }}</th>
            <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr class="table-primary">            
            <td>{{ country.name }}</td>
            <td>{{ country.nameInt }}</td>
            <td>{{ country.a2 }}</td>
            <td>{{ country.a3 }}</td>
            <td>{{ country.n3 }}</td>
            <td class="text-right">
                <div class="item-actions">
                    <a href="#{#{{ path('admin_user_edit', {'id': country.id}) }}#}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </td>
        </tr>
    {% else %}
        <tr class="table-warning">
            <td colspan="4" align="center">{{ 'label.no_posts_found'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table> 