{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
#}

{% if show_confirmation|default(true) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('dashboard/organization/_delete_user_confirmation.html.twig') }}
{% endif %}

{{ form_start(form) }}
    
        <div class='row'>
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }} 
        </div>
        <div class='row'>
            {{ form_label(form.shortName) }}
            {{ form_widget(form.shortName, {'attr': {'class': 'form-control'}}) }} 
        </div>
        <div class='row'>
            {{ form_label(form.taxNumber) }}
            {{ form_widget(form.taxNumber, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='row'> 
            {{ form_label(form.taxable) }}
            {{ form_widget(form.taxable, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='row'>           
            {{ form_label(form.address) }}
            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}  
        </div>
        
        <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.saveOrganization'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('organization_index') }}" class="btn btn-primary">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
        
    {{ form_end(form) }}
