{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans({'%username%': user.username}) }}</h1>

    {{ include('admin/user/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_user_show', {id: user.id}) }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_user'|trans }}
        </a>
    </div>

    <div class="section actions">
        {{ include('admin/user/_delete_form.html.twig', {user: user}, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}
