{% extends 'dashboard/layout.html.twig' %}

{% block body_id entity ~ '_show' %}

{% block main %}
    <h1>{{ organization.name }}</h1>
    
    <div class="card text-white bg-primary mb-3"> 
    <div class="card-header">
            <strong>{{ 'label.' ~ entity ~ 'Data'|trans }}</strong>
        </div>    
        <div class="card-body">                    
            <strong>{{ 'label.name'|trans }}</strong>: {{ organization.name }}            
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3">   
        <div class="card-header">
            <strong>{{ 'label.address'|trans }}</strong>
        </div> 
        <div class="card-body">            
                    <div class="card border-primary mb-3" style="max-width: 15rem;">               
                        <div class="card-body">                            
                            {% for line in organization.address.getFullFormattedAddress %}
                                {{ line }}</br>
                            {% endfor %}
                        </div>  
                    </div>  
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path(entity ~ '_edit', {id: organization.id}) }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('dashboard/organization/_delete_form.html.twig', {organization: organization, entity: entity}, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/organization/show') }}
{% endblock %}  