{{ form_start(form, {'attr': {'class': 'bs-component'}}) }}   
     
     <div class="row">
        <div class="col-sm-6">
            <div class="form-group">                    
                    {{ form_label(form.organization, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                    {{ form_widget(form.organization, {'attr': {'class': 'form-control'}}) }}                
                </div>
            </div>            
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class='input-group date' id='TeDatePicker'>
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="bs-component">            
            <table id="travel-stops-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'label.stop_number'|trans }}</th>
                        <th>{{ 'label.post'|trans }}</th>
                        <th>{{ 'label.distance'|trans }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='tableBody' class="travelStops" data-prototype="{{ form_widget(form.travelStopCommands.vars.prototype)|e('html_attr') }}">
                
                {% for travelStop in form.travelStopCommands %}
                    <tr class="form-group travel-stop-tr-{{ loop.index0 }}">
                        <td>{{ form_widget(travelStop.stopOrder, {'attr': {'class': 'form-control'}})}}</td>
                        <td class="post-Selector" data-stop-index="{{ loop.index0 }}">{{ form_widget(travelStop.post, {'attr': {'class': 'form-control'}})}}</td>
                        <td colspan="2">{{ form_widget(travelStop.distanceFromPrevious, {'attr': {'class': 'form-control'}})}}</td>
                        <td><a id="remove-travel-stop-{{ loop.index0 }}'" class="btn btn-sm btn-block btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>   
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_travelExpense'|trans) }}
            </button>
            {% if include_save_and_create_new %}
                {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
            {% endif %}
            {% if include_back_to_home_link %}
                <a href="{{ path('travelExpense_index') }}" class="btn btn-link">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
                </a>
            {% endif %}
       </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}