{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'dashboard_travelExpense_edit' %}

{% block main %}
    <h1>{{ 'title.travelExpense_edit'|trans }}</h1>

    {{ include('dashboard/travelExpense/_form.html.twig', {
        form: form,
        button_label: 'label.update_travelExpense'|trans,
        include_back_to_home_link: true, 
        include_save_and_create_new: false,       
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/travelExpense/new') }}  
{% endblock %}
