{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'travelExpense_index' %}

{% block main %}
    <h1>{{ 'title.travelExpenses'|trans }} ({{ pagination.getTotalItemCount }})</h1>
    <div class="bs-component">
    {{ include('dashboard/travelExpense/_table.html.twig', {
            travelExpenses: pagination                
        }, with_context = false) }}
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}
    
    <div id="actions" class="row">
        <a href="{{ path('travelExpense_new') }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_travelExpense'|trans }}
        </a>
    </div>
    </br>    
    <div id="filter" class="row">
        {{ include('dashboard/travelExpense/_filter.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/travelExpense/filter') }}  
{% endblock %}
