{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'invoice_new' %}

{% block main %}
    <h1>{{ 'title.invoice_new'|trans }}</h1>

    {{ form_start(form) }}   
     
        <div class="form-group">
            <div class='input-group'>
                {{ form_label(form.number) }}
                {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}                
            </div>
        </div>        
        <div c
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                {{ form_label(form.dateOfIssue) }}
                {{ form_widget(form.dateOfIssue, {'attr': {'class': 'form-control'}}) }}
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'label.create_travelExpense'|trans }}
            </button>
            {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
            <a href="{{ path('travelExpense_index') }}" class="btn btn-link">
                <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
            </a>
       </div>
    {{ form_end(form) }}

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/invoice') }}
{% endblock %}
