<table id="lunchExpensesTable" class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i>{{ 'label.date'|trans }}</th>
                <th scope="col"><i class="fa fa-coins" aria-hidden="true"></i> {{ 'label.cost'|trans }}</th> 
                {% if ShowCBs is defined and ShowCBs == true%}  
                    <th scope="col" class="text-center"><i class="fa fa-check" aria-hidden="true"></i></th>  
                {% endif %}
            </tr>
        </thead>
        <tbody>
    {% for lunchExpense in lunchExpenses %}
            <tr class="table-primary">
                <td>{{ lunchExpense.dateString }}</td>                
                <td>{{ lunchExpense.sum | format_currency('EUR')}}</td> 
                {% if ShowCBs is defined and ShowCBs == true%}             
                <td> 
                    <input class="form-check-input TECheckBox" type="checkbox" value={{ lunchExpense.id }}>                                    
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr class="table-warning">
                <td colspan="4" align="center">{{ 'lunchExpense.no_lunchExpenses_found'|trans }}</td>
           </tr>
        {% endfor %}    
    </tbody>
</table>

<!-- Modal -->
<div id="dateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'label.date'|trans }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class='row'>
            <form>            
                {{ 'label.date'|trans }}:<br>
                <input id='modalDate' class='form-control' type="text" name="date" data-date-format="DD. MM. YYYY" data-date-locale="sl">      
            </form> 
        </div>        
      </div>
      <div class="modal-footer">
        <button id='submitDate' type="submit" class="btn btn-success" ><i class="fa fa-check" aria-hidden="true"></i> {{ 'action.OK'|trans }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.close'|trans }}</button>
      </div>
    </div>

  </div>
</div>

