{% if show_confirmation|default(true) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include ('dashboard/client/_delete_client_confirmation.html.twig') }}
{% endif %}

<div class="jumbotron"> 
{{ form_start(form) }}
            
        
        <div class='row'>
            <div class="col-sm-7">
                <div class="form-group"> 
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div> 
            <div class="col-sm-5">
                <div class="form-group"> 
                    {{ form_label(form.shortName, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                        {{ form_widget(form.shortName, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                </div>
            </div>
        </div>
        
        <div class='row'>
            <div class="col-sm-9">
                <div class="form-group"> 
                    {{ form_label(form.taxNumber, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                        {{ form_widget(form.taxNumber, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group"> 
                    {{ form_label(form.taxable, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                        {{ form_widget(form.taxable, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class='row'> 
            <div class="col-sm-9">
                <div class="form-group">           
                    {{ form_label(form.address, null, {'label_attr': {'class': 'col-form-label-lg'}} ) }}
                    <div class='input-group'>
                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }} 
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group" >
                    <label class='col-form-label-lg' for="addAddressBtn">{{ 'label.newAddress'|trans }}</label>
                    <div class='input-group'>
                        <button type='button' id='addAddressBtn' class='btn btn-md btn-success'><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div> 
        </div>
                    
        <div class='row'> 
            <div class="col-sm-3">
                <div class="form-group">            
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default(('label.save_client')|trans) }}
                    </button>
                </div>
            </div>
            {% if include_back_to_home_link|default(false) %}
            <div class="col-sm-3">
                <div class="form-group">
                    <a href="{{ path('client_index') }}" class="btn btn-primary">
                        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
                    </a>
                </div>
            </div>
            {% endif %}
        </div>  

{{ form_end(form) }}

</div> 
{{ include('dashboard/organization/addAddressModal.html.twig', { form: addressForm }) }}
