{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'client_show' %}

{% block main %}
    <h1>{{ client.name }}</h1>
    
    <div class="card text-white bg-primary mb-3"> 
    <div class="card-header">
            <strong>{{ ('label.clientData')|trans }}</strong>
        </div>    
        <div class="card-body">                    
            <strong>{{ 'label.name'|trans }}</strong>: {{ client.name }}            
        </div>
    </div>
    
    <div class="card text-white bg-primary mb-3">   
        <div class="card-header">
            <strong>{{ 'label.address'|trans }}</strong>
        </div> 
        <div class="card-body">            
            <div class="card border-primary mb-3" style="max-width: 15rem;">               
                <div class="card-body">                            
                    {% for line in client.address.getFullFormattedAddress %}
                        {{ line }}</br>
                    {% endfor %}
                </div>  
            </div>  
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('client_edit', {id: client.id}) }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('dashboard/client/_delete_form.html.twig', {client: client}, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/organization/show') }}
{% endblock %}  