<table class="table table-hover">
        <thead>
            <tr>                
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i>{{ 'label.date'|trans }}</th>
                <th scope="col"><i class="fa fa-user" aria-hidden="true"></i>{{ 'label.organization'|trans }}</th>
                <th scope="col"><i class="fa fa-file" aria-hidden="true"></i> {{ 'label.document'|trans }}</th>
                <th scope="col"><i class="fa fa-euro-sign" aria-hidden="true"></i> {{ 'label.sum'|trans }}</th>                
                <th scope="col"><i class="fa fa-list-alt " aria-hidden="true"></i> {{ 'label.debit'|trans }}</th>
                <th scope="col"><i class="fa fa-list-alt " aria-hidden="true"></i> {{ 'label.credit'|trans }}</th>
            </tr>
        </thead>
        <tbody>
    {% for transaction in transactions %}
        {% if (transaction.debitKonto.category.class.number != 4 and transaction.debitKonto.category.class.number != 2) %}
            <tr class="table-success">
        {% else %}
            <tr class="table-danger">
        {% endif %}
                <td>{{ transaction.dateString }}</td>
                <td>{{ transaction.organization.shortName }}</td>
                <td>
                {% if transaction.invoice != null %}
                    <a href="{{ path('invoice_show', {'id': transaction.invoice.id}) }}">
                    {% if transaction.creditKonto == transaction.organization.organizationSettings.issueInvoiceCredit %}
                        {{'label.invoice_issued'|trans }}
                    {% elseif transaction.creditKonto == transaction.organization.organizationSettings.invoicePaidCredit %}
                        {{'label.invoice_paid'|trans }}
                    {% endif %}
                    : {{ transaction.invoice.number }} ({{ transaction.invoice.recepient.shortName }})</a>
                {% elseif transaction.travelExpense != null %}
                    <a href="{{ path('travelExpense_show', {'id': transaction.travelExpense.id}) }}">{{'label.travelExpense'|trans }}: {{ transaction.travelExpense.TravelDescription }}</a>
                {% elseif transaction.travelExpenseBundle != null %}
                    <a href="{{ path('travelExpenseBundle_show', {'id': transaction.travelExpenseBundle.id}) }}">{{'label.travelExpenseBundle'|trans }}: {{ transaction.travelExpenseBundle.DateRange }}</a>
                {% elseif transaction.incomingInvoice != null %}
                    <a href="{{ path('incomingInvoice_show', {'id': transaction.incomingInvoice.id}) }}">                    
                    {% if transaction.debitKonto.class.number == 4 %}
                        {{'label.invoice_received'|trans }}                    
                    {% elseif transaction.creditKonto.class.number == 1 or transaction.creditKonto.class.number == 9 %}
                        {{'label.invoice_paid'|trans }}
                    {% endif %}
                    : {{ transaction.incomingInvoice.number }} ({{ transaction.incomingInvoice.issuer.shortName }})</a>
                {% elseif transaction.lunchExpense != null %}
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">{{'label.lunchExpense'|trans }}: {{ transaction.lunchExpense.__toString }}</a>
                {% elseif transaction.lunchExpenseBundle != null %}
                    <a href="{{ path('lunchExpenseBundle_show', {'id': transaction.lunchExpenseBundle.id}) }}">{{'label.lunchExpenseBundle'|trans }}: {{ transaction.lunchExpenseBundle.DateRange }}</a>
                {% else %}
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">{{'label.transaction'|trans }}: {{ transaction.description }}</a>
                {% endif %}
                </td>
                <td>{{ transaction.sum }} €</td>                      
                <td>{{ transaction.debitKonto.number }}</td>          
                <td>{{ transaction.creditKonto.number }}</td>
            </tr>
        {% else %}
            <tr class="table-warning">
                <td colspan="4" align="center">{{ 'transaction.no_transactions_found'|trans }}</td>
           </tr>
        {% endfor %}    
    </tbody>
    </table>
