<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i>{{ 'label.date'|trans }}</th>
                <th scope="col"><i class="fa fa-file" aria-hidden="true"></i> {{ 'label.document'|trans }}</th>
                <th scope="col"><i class="fa fa-euro-sign" aria-hidden="true"></i> {{ 'label.sum'|trans }}</th>                
                <th scope="col"><i class="fa fa-list-alt " aria-hidden="true"></i> {{ 'label.debit'|trans }}</th>
                <th scope="col"><i class="fa fa-list-alt " aria-hidden="true"></i> {{ 'label.credit'|trans }}</th>
            </tr>
        </thead>
        <tbody>
    {% for transaction in transactions %}
        {% if transaction.sum > 0 %}
            <tr class="table-success">
        {% else %}
            <tr class="table-danger">
        {% endif %}
                <td>{{ transaction.dateString }}</td>
                <td>
                {% if transaction.invoice != null %}
                    <a href="{{ path('invoice_show', {'id': transaction.invoice.id}) }}">{{'label.invoice'|trans }}: {{ transaction.invoice.number }}</a>
                {% elseif transaction.travelExpense != null %}
                    <a href="{{ path('travelExpense_show', {'id': transaction.travelExpense.id}) }}">{{'label.travelExpense'|trans }}: {{ transaction.travelExpense.TravelDescription }}</a>
                {% elseif transaction.travelExpenseBundle != null %}
                    <a href="{{ path('travelExpenseBundle_show', {'id': transaction.travelExpenseBundle.id}) }}">{{'label.travelExpenseBundle'|trans }}: {{ transaction.travelExpenseBundle.DateRange }}</a>
                {% endif %}
                </td>
                <td>{{ transaction.sum }} €</td>                      
                <td>{{ transaction.debitKonto.number }}</td>          
                <td>{{ transaction.creditKonto.number }}</td>
            </tr>
        {% else %}
            <tr class="table-warning">
                <td colspan="4" align="center">{{ 'transaction.no_transactions_found'|trans }}</td>
           </tr>
        {% endfor %}    
    </tbody>
    </table>
