{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'transaction_index' %}

{% block main %}
<h1>{{ 'title.transactions'|trans }}</h1>
    <div class="bs-component">
        {{ include('dashboard/transaction/_table.html.twig', {
                transactions: pagination                
            }, with_context = false) }}
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}
    <a href="{{ path('transaction_new') }}" class="btn btn-sm btn-block btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_transaction'|trans }}
    </a>
    
    {{ include('common/filters/_dateOrgYearFilter.html.twig') }}
    
    <a href="{{ path('transaction_export', {'dateFrom': app.request.query.get('dateFrom'), 'dateTo': app.request.query.get('dateTo'), 'year': app.request.query.get('year'), 'orgId': app.request.query.get('organization')}) }}" class="btn btn-sm btn-block btn-success">
        <i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'action.exportXlsx'|trans }}
    </a>
            
{% endblock %}
