{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'transaction_new' %}

{% block main %}
    <h1>{{ 'title.new.transaction'|trans }}</h1>

    {{ include('dashboard/transaction/_form.html.twig', {
        form: form,
        button_label: 'label.create.transaction'|trans,
        include_save_and_create_new: false,
        include_back_to_home_link: true,  
        include_templates: true,   
        hasDocument: false,   
    }, with_context = false) }}

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/transaction/new') }}  
{% endblock %}
