{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'dashboard_index' %}

{% block main %}

<div class="row">
    <div class="col-12">
        <div class="bs-component">
            <div class="card text-white bg-primary">
                <div class="card-header">
                  <a href="{{ path('invoice_index') }}"><h2>{{ 'title.invoices'|trans }}</h2></a>
                </div>
                <div class="card-body">
                {{ include('dashboard/invoice/_table.html.twig', {invoices: invoices}, with_context = false) }}
                </div>
            </div>
        </div>        
    </div>
</div>
</br>
<div class="row">    
    <div class="col-12">
        <div class="bs-component">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <a href="{{ path('travelExpense_index') }}"><h2>{{ 'title.travelExpenses'|trans }}</h2></a>
                </div>
                <div class="card-body">
                    {{ include('dashboard/travelExpense/_table.html.twig', {travelExpenses: travelExpenses}, with_context = false) }}
                </div>
            </div>        
        </div>
    </div>   
</div>
</br>
<div class="row">
    <div class="col-12">
        <div class="bs-component">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <a href="{{ path('transaction_index') }}"><h2>{{ 'title.transactions'|trans }}</h2></a>
                </div>
                <div class="card-body">
                    {{ include('dashboard/transaction/_table.html.twig', {transactions: transactions}, with_context = false) }}
                </div>
            </div>        
        </div>
    </div>       
</div>
    
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}
    <div class="section actions">
        <a href="{{ path('invoice_new') }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_invoice'|trans }}
        </a>
        <a href="{{ path('travelExpense_new') }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_travelExpense'|trans }}
        </a>
        <a href="{{ path('transaction_new') }}" class="btn btn-sm btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_expense'|trans }}
        </a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/invoice/list') }}
{% endblock %}
