{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'report_index' %}

{% block main %}
<h1>{{ 'title.reports'|trans }}</h1>

<h2>{{ 'title.overview'|trans }}</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="bs-component">
        {{ include('dashboard/report/_overviewReport.html.twig', {
                report: overviewReport                
            }, with_context = false) }}
        </div>
    </div>
</div>

<h2>{{ 'title.kontos'|trans }}</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="bs-component">
        {{ include('dashboard/report/_kontoReport.html.twig', {
                report: kontoReport                
            }, with_context = false) }}
        </div>
    </div>
</div>

<h2>{{ 'title.clients'|trans }}</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="bs-component">
        {{ include('dashboard/report/_clientReport.html.twig', {
                report: clientReport                
            }, with_context = false) }}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}
    {{ include('common/filters/_dateOrgYearFilter.html.twig') }}
    
    <a href="{{ path('report_dddddd') }}" class="btn btn-sm btn-primary">
        <i class="fa fa-eye" aria-hidden="true"></i> Obračun akontacije dohodnine (DDD-DDD)
    </a>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
